<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Questions platform</title>
    <link href="/css/styles.css" style="text/css" rel="stylesheet" />
  </head>
  <body>
    <h1>
      <%= name %>
    </h1>

    <h3>
      <%= lang %>
    </h3>

    <% if(msg){ %>
    <h1>Error message!</h1>
    <% }else{ %>
    <h3>No error</h3>
    <%}%>
    <ul>
      <% products.forEach(product => { %>
      <li>
        <%= product.name %>
      </li>
      <% })%>
    </ul>
  </body>
</html>
